<app-search-notes />

<div class="container">
    <div class="d-flex flex-row justify-content-between align-items-center mt-4 mb-4">
        <h3>{{ 'LABELS.NOTES' | translate }}</h3> 
        <button class="btn btn-primary fs-3 py-0" (click)="onClickAdd(addNoteModal)">+</button>
    </div>

    <ng-container [ngSwitch]="(status$ | async)">
        <div *ngSwitchCase="NotesStateStatus.SUCCESS">
            <ng-container *ngIf="notes$ | async as notes">
                <app-list-notes *ngIf="notes.length > 0; else emptyPlaceholder" [notes]="notes" (delete)="openDeleteConfirmation(deleteNoteModal, $event)" />
            </ng-container>
        </div>

        <div *ngSwitchCase="NotesStateStatus.LOADING">
            <div class="loading-container d-flex flex-column justify-content-center align-items-center">
                <div class="text-center">
                    <div class="spinner-border text-primary m-auto" role="status"></div>
                    <h5 class="mt-4">{{ 'LABELS.LOADING' | translate }}...</h5>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="NotesStateStatus.ERROR">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <i class="bi bi-exclamation-triangle-fill fs-3 me-2"></i>
                <div>
                    {{ errorMessage$ | async }}
                </div>
            </div>
        </div>
    </ng-container> 
</div>


<ng-template #emptyPlaceholder>
    <app-empty-placeholder (reload)="getNotes()" />
</ng-template>

<ng-template #addNoteModal let-modal>
    <div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{ 'MODALS.ADD_NOTE_MODAL_TITLE' | translate }}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>

    <div class="modal-body">
        <app-add-note [tags]="tags" (add)="handleAddNote($event)"/>
    </div>
</ng-template>

<ng-template #deleteNoteModal let-modal>
    <app-delete-note [modalRef]="modal" [note]="selectedNote" (confirm)="handleDeleteNote($event)"  />
</ng-template>