<app-search-notes />

<div class="container">
    <div class="d-flex flex-row justify-content-between align-items-center mt-4 mb-4">
        <h3>{{ 'LABELS.NOTES' | translate }}</h3> 
        <button class="btn btn-primary fs-3 py-0" (click)="onClickAdd(addNoteModal)">+</button>
    </div>

    <app-list-notes [notes]="(notes$ | async) ?? []" (delete)="openDeleteConfirmation(deleteNoteModal, $event)" />
</div>


<ng-template #addNoteModal let-modal>
    <div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{ 'MODALS.ADD_NOTE_MODAL_TITLE' | translate }}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>

    <div class="modal-body">
        <app-add-note [tags]="tags" (add)="handleAddNote($event)"/>
    </div>
</ng-template>

<ng-template #deleteNoteModal let-modal>
    <app-delete-note [modalRef]="modal" [note]="selectedNote" (confirm)="handleDeleteNote($event)"  />
</ng-template>