<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> {{ 'NOT_FOUND_TITLE' | translate }}</p>
        <p class="lead">
            {{ 'NOT_FOUND_DESCRIPTION' | translate }}
          </p>
        <div class="d-flex justify-content-center">
            <a href="/" class="btn btn-primary d-flex align-items-center justify-content-center">
                <i class="bi bi-house-door fs-4 me-2"></i> {{ 'BUTTONS.GO_HOME' | translate }}
            </a>
        </div>
    </div>
</div>